# Linear Regression

In [1]:
from os.path import join
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
## Data Import
df = pd.read_csv(join('data','iris.csv'))
df.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
## Remove columns we do not use in this example
del df['Id']
del df['Species']
df.head(5)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [4]:
## Some functions to explore data
print(df.corr())
print(df.dtypes)
print(df.shape)

               SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
SepalLengthCm       1.000000     -0.109369       0.871754      0.817954
SepalWidthCm       -0.109369      1.000000      -0.420516     -0.356544
PetalLengthCm       0.871754     -0.420516       1.000000      0.962757
PetalWidthCm        0.817954     -0.356544       0.962757      1.000000
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
dtype: object
(150, 4)

In [14]:
## Train-Valiedation Spli
## Index control by yourself
n_data = df.shape[0]
p_trn = 0.7
n_trn = round(n_data * p_trn)
n_tst = n_data - n_trn
print(n_data, n_trn, n_tst)

idx_data = pd.Series(range(0,150))
idx_data_perm = np.random.permutation(idx_data)
print(idx_data_perm)

idx_trn = idx_data_perm[0:n_trn]
idx_tst = idx_data_perm[n_trn:n_data]
print(len(idx_trn),len(idx_tst))

150 105 45
[112  98 144  29 137 117  67  13 140  21 138 119  66 136  28  45  79  31
 129 110 141  23  52  16  86  34 118  75  91   0  70  97  27  61  32   4
  64 130  94  33 116 103  49 108  78  92 123  17  51  90 149  88  73 133
 109  15  50  71 104 131 128  56 113  68  37  83 105 127  14  72  85  10
 100  74 102  43  44  12  54 122   3  30 126  20  57 115   2  39   7 121
 146 111 107 135  77  18  55   9  47  36 106  65   5  62  53  81 147  69
  76  93  40 134  22 124 125  99  59 120 143   8  58  80  46  38  41  35
 114  82  42  24 132  87  84  60  95 145 148  48  19   6 139  63 101  89
  26   1  25  11 142  96]
105 45

In [21]:
trnx = df.iloc[idx_trn,0:3]
trny = df.iloc[idx_trn,3]
tstx = df.iloc[idx_tst,0:3]
tsty = df.iloc[idx_tst,3]

     SepalLengthCm  SepalWidthCm  PetalLengthCm
112            6.8           3.0            5.5
98             5.1           2.5            3.0
144            6.7           3.3            5.7
29             4.7           3.2            1.6
137            6.4           3.1            5.5

In [ ]:
## Or you can use just this !!
from sklearn.model_selection import train_test_split
trnx, tstx, trny, tsty = train_test_split(X, Y, test_size=0.3, random_state=123)

In [22]:
from sklearn.linear_model import LinearRegression

In [27]:
model = LinearRegression()
model.fit(X=trnx, y=trny)
lr_pred = model.predict(X=tstx)
print(lr_pred)

[ 1.08493958  1.79816595  1.19242247  1.46986303  0.96212724  0.19194942
  2.00422938  0.14777154  2.09028246  2.11179291  1.34820766  1.33139449
  2.02079645  2.14946305  0.23604666  1.43334987  1.13793916  0.4007342
  0.20719823  0.01547273  0.06649638  1.85553606  1.19538992  0.25550053
  0.53113062  1.9845294   1.25044607  1.67651058  0.99567294  1.44950955
  1.75283109  2.06877201  0.27824861  0.34773462  0.31146757  1.83764655
  1.5996866   1.83138491  1.26808948  0.32679702  0.14686067  0.2301924
  0.37213187  1.83138491  1.4253584 ]

In [33]:
## Calculation of RMSE
np.sqrt(np.mean((np.square(lr_pred - tsty))))

0.20512214414135896

In [39]:
plt.scatter(array(tsty, lr_pred))

NameError: name 'array' is not defined

In [41]:
from sklearn import metrics
np.sqrt(metrics.mean_squared_error(lr_pred, tsty))

0.20512214414135899