In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [3]:
data = np.array(iris)
nvar = data.shape[1]
datax = data[:,0:nvar-1]
datay = data[:,-1]

In [4]:
from sklearn.model_selection import train_test_split
trnx, tstx, trny, tsty = train_test_split(datax, datay, test_size=0.3, random_state=510)

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(trnx)
trnx_scale = scaler.transform(trnx)
tstx_scale = scaler.transform(tstx)
print(np.mean(trnx_scale[:,0]), np.std(trnx_scale[:,0]))
print(np.mean(tstx_scale[:,0]), np.std(tstx_scale[:,0]))

-1.0066022089934752e-15 1.0
0.035014771352782935 1.220114510797573

C:\Users\dongilkim\Anaconda3\envs\tensorflow\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [7]:
from sklearn.neural_network import MLPClassifier
nn_model = MLPClassifier(activation='relu', solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5), random_state=1)
nn_model.fit(X=trnx_scale, y=trny)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=5, learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       solver='lbfgs', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

In [21]:
nn_pred = nn_model.predict(X=tstx_scale)
print(nn_pred)

['virginica' 'setosa' 'virginica' 'versicolor' 'setosa' 'versicolor'
 'versicolor' 'versicolor' 'setosa' 'setosa' 'setosa' 'virginica'
 'versicolor' 'versicolor' 'versicolor' 'versicolor' 'setosa' 'setosa'
 'virginica' 'virginica' 'setosa' 'setosa' 'versicolor' 'setosa' 'setosa'
 'versicolor' 'virginica' 'versicolor' 'virginica' 'setosa' 'setosa'
 'virginica' 'virginica' 'setosa' 'virginica' 'setosa' 'virginica'
 'virginica' 'versicolor' 'versicolor' 'virginica' 'versicolor'
 'virginica' 'virginica' 'virginica']

In [9]:
from sklearn.metrics import accuracy_score
accuracy_score(tsty, nn_pred)

0.9111111111111111